<h2 class='reaction-title hidden-desktop'>
  <div class='back-nav owl-navigation-interaction'>
      <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back
   </div>
  <div class='name'></div>
</h2>

<div class='row'>
  <section>
    <h3>Interaction Information</h3>
    <p id="interactions-text"></p>
  </section>
</div>