<h2 class='reaction-title hidden-desktop'>
  <div class='row hidden-desktop owl-navigation-cabinet back-nav'>
    <i class="back-to-interaction-pairs fa fa-arrow-left"></i><span class="primary-name"></span>
 </div>
</h2>

<div class='row'>
  <section>
    <h3>Interaction Information</h3>
    <p id="interactions-text"></p>
  </section>
</div>