<div class='back-nav visible-desktop owl-navigation-cabinet'>
  <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back to Cabinet
</div>

<h2 class='reaction-title hidden-desktop'>
  <div class='row hidden-desktop owl-navigation-cabinet back-nav'>
    <i class="back-to-medicine-information fa fa-arrow-left"></i><span class="primary-name"></span>
 </div>
</h2>

<div class='row with-shadow'>
  <ul id="interactions">
    <li></li>
  </ul>
</div>

<div class='row hidden-desktop'>
  <section class='interaction-pair-mobile'>
    <h3>Interaction Information</h3>
    <p id="interactions-text-mobile"></p>
  </section>
</div>

