<h2 class='reaction-title hidden-desktop'>
  <div class='row hidden-desktop owl-navigation-cabinet back-nav'>
    <i class="back-to-interaction-pairs fa fa-arrow-left"></i><span class="primary-name"></span>
 </div>
</h2>
<div class='row' id='no-data-loaded-container'>
  <h3>To get started, select an interaction on the left.</h3>
</div>
<div class='row' id='interaction-data-container' style="display: none;">
  <h3>Interaction Information</h3>
  <section>  
    <h4 style="font-weight: bold" class="primary-name"></h4>
    <p id="primary-medicine-interactions-text"></p>
  </section>
  <section>
    <h4 style="font-weight: bold" class="interaction-name"></h4>
    <p id="interaction-medicine-interactions-text"></p>
  </section>
</div>