<div class='back-nav visible-desktop owl-navigation-cabinet'>
  <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back to Cabinet
</div>

<h2 class='reaction-title hidden-desktop'>
  <div class='back-nav owl-navigation-information'>
    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back
  </div>
  
  <div class='name'><span class="primary-name"></span></div>
</h2>

<div class='row'>
  <ul id="interactions">
    <li></li>
  </ul>
</div>