
<div class='padding-30-all'>
  <div class='row visible-mobile cabinet-directions'>
    <div class='col-span-12'>
      <h3 class='primary-font bold green'>ADD MEDICINES TO YOUR CABINET</h3>
      <p>to view potential interactions between medications.</p>
    </div>
  </div>

  <div class="search-bar">
    <i class="fa fa-search"></i>
    <input type="text" id="search_input" placeholder="Type a drug name here..." />
    <button id='add_medicine' class='button-dark-red'><i class="fa fa-plus"></i></button>
    <button id="add_medicine_wait" style="display: none;"><i class="fa fa-cog fa-spin"></i></button>
  </div>

  <div id="shelves" class='shelves'>
    <%= show_shelves(@cabinet) %>
  </div>
</div>