
  <div class='row visible-mobile cabinet-directions'>
    <div class='col-span-12'>
      <h3 class='primary-font bold green'>ADD MEDICINES TO YOUR CABINET</h3>
      <p>We’ll compare them and let you know if there are any known interactions among them.</p>
    </div>
  </div>

  <div class="search-bar" data-module='autocomplete_search'>
    <i class="fa fa-search"></i>
    <input type="text" id="search_input" placeholder="Type a drug name here..." />
    <button id='add_medicine' class='button-dark-blue'><i class="fa fa-plus"></i></button>
    <button id="add_medicine_wait" style="display: none;" class='button-dark-blue' disabled><i class="fa fa-cog fa-spin"></i></button>
    <span id='error-message-container' class="error-container">
    </span>
  </div>

  <div id="shelves" class="shelves" data-module='click-bottle'>
    <%= render :template => 'medicine/shared/_shelves' -%>
  </div>
