env:
  global:
  - secure: Kjq75Yt5l5XP42v3st702chITPoW/FoiC3gB04kW1L/unHj5oc2emGfFtArT+aOu+wdug84rLD5QCC6n6HP9Vmb1MBduu9UG43DG/cmsy5GmXhtkK51bMrl4HKmitp6o55Nn66DOy8AGbn+Kyc2GUZ4KetCgcqktB+byajVffg8MqqPaBthyhUvRJ1EAzufUh2UTN0B+X5VpsYb3pmk/h1qdSqlpGXKzJSDfByjR3vDdJ/lGi5FmsTqFPlAZWO+GWnoFwujjZXhgubq/rG7LzJBlpckPiE/RL3hJkUPY3raEy4JtkTBzs0sYS8xXaqTZ8PzlN4j7jyv5U0OhUpiD5mZ5mGmMcGPFG9Rm5ftreZO4eaye6eZO6wf9Kg9purA8wsN+e33QpSTRXbrUzzF3Ax4SDvAfz45UnMoXaiGB4e314ug7sf6rOiaSNGCTEFSdE9zgN28go44Kgx5/J9/gQncNTd4QAZeUGKNJ0sdk2HLqM5tGopohPQ+SERcEzLGbkeQc3Oc/J+36cMvWMKZEgkBVfKTF2hUDk+4kT+kZ+hrLieALTqXsyU/0X/YPwMNBwMle6q8heFGdkdQU/T9uB4bWvCeq20oMNgdPrlIDqpSJRzIMnRMhjGEogahNhbhu6JTLY1MkIj0POJ4FtdYNRxti35k6xH0WHfy1KZYyhiM=
  - secure: cxxXYWxThIvf/O2md5l6VEfwHIS57mX8Q7uCl3u+Sl4BeXwmPRYV1lhEhbNJRzXYTv8ctVuAOIdkWQZ0ozUtLlNeeFwhsiMXgyrwkQYa3PUK18xV+PLt3eZuY2/JcoW7oXso5NsEQJickgl7I1P9bCwTEL5bGElcOAY885DZl9i2V08fOqAHpagopacq7SuyuWzeNK1a8Bs5FLuRlCJwNE8jd68VsgWE8gzF4arRuvxXwlM4amQuO6pHAjn0ZDYrTFMF3itPUzKyU2NoHF+dotrkZOETIOAdegbugPQ9j1BPP4p0SHr+5LZCtJlA5J0OdKhkzbQNzXAOGRdTNT10AkepKLuxe6iHAIP5x1D9YRlmsCdQY84LIrzzH+ryip1EJGyZye5C1dUv639YD3gpNGLxMnUmdP1XeQJINfBPBOEkn2U/HUKhtJ1tsU1ps8rqd4Ri2C9VZxzH9fBBZ/XRsrppGx3/OYWr3/Qbz5DLDqZmD2yMNDeH1klzy2drVfbxk2UwgVstyDzFsjqeRCGKaEKmvds3vVgHkvObbKU4vWnPlVS7g2lI+7zZM5JvfuVFzCjW7k7ojCkK7EBeH5zfYcQGuky5QgUEtZEEa5Wiqgd+OKQkcwPz4vusP4o+r735Ep8G/pU6wijfXqsPwHNmKrDwmTNsUVDRJGjJ0A5GFqQ=
addons:
  postgresql: '9.4'
language: ruby
cache: bundler
notifications:
  slack: excella-4th:D0zR7CRDJdhg07kKkO2Axq9Y
rvm:
- 2.2.2
before_script:
- rake db:create db:migrate
- rake db:create db:migrate RAILS_ENV=travis
script:
- bundle exec rubocop -Dc .rubocop.yml
- bundle exec rspec
- rake cucumber RAILS_ENV=travis
deploy:
  provider: heroku
  app:
    master: fbs-rails-skeleton
  api_key:
    secure: OsmydFL/SGc3lDrIsP6iqNCqR6P3+feLa4wrUTYD0zP99mem+LFIwWOsU/65kCKzegHKK2qBh5hkbJmAjQjkDs694XJGDRxuIwZnWlazC7/KCcJQf0P4zsXSZMyP8TM4IOvX62O5XBymJWPiJbFFuOcj71K+wu42N6UcWRVxxqhrYG3w67CSPtpkfCg83d9hNrfnZEiiW8q/XPGCH+v1qoSgoeGe0qDY+Dp9snBJwB9R9BSe/bQUQdRBhJcrOR173D9a8yUfAtZKG2j3xcGU+T146qattEJlUpOQY1Ukd1i5yfi7MVnt1APfgu0rZNuay6G05zEtj8ARQigrLxGJmszcG6aPMsr44OZ2HOfz6512u5A1wSqKG0pluoO53JXZMuSMRGbIoxJgYDyDBhNYw/LMwqFs32T77qlOf9+VR2tq+RDfNoJdIfp5h99jYCG4hJnzQQC+jvH39Wu9e8BG4Si6JVpEhRRMOgZ+RoeAdrxW4mOTM+rzTWV/7aBkJHR7rNURBe931GSlEEHSa28X0yRtF794D9prSX3UY95g+Y7IW8Oi3RG5OUlmcFfmLlK2mgaGc4OOu0Dp/yeorpDTmX5WPr1D7O505lnhDuKDMAAFX32GjBjCfoxNg3HVOq1k23ALXfeoKpUqJkedEGCjD85K/a5w8qTc6dcWT9YKcwI=
