.neon {
  background-color: #FFFF00;
}

.cabinet {
  position: relative;
  height: 100%;

  //*-- global
  .padding-30-all {
    padding: 30px;

    @include media($mobile) {
      padding: 15px 0;
    }
  }

  .title {
    @extend .padding-30-all;

    @include media($mobile) {
      padding: 15px 30px;
    }
  }

  //*-- loading icon
  .fa-refresh {
    display: none;
    color: $light-gray;
    font-size: 200px;
    position: absolute;
    left: 35%;
    top: 35%;
  }

  //*-- carousal
  .owl-wrapper-outer, .owl-wrapper, .owl-item {
    height: 100% !important;
  }

  .owl-item {
    overflow-y: auto;

    &:nth-child(odd) {
      background: $light-gray;

      @include media($mobile) {
        background: $white;
      }
    }
  }

  .owl-pagination {
    display: none;
  }

  @include media($mobile) {
    .search-bar {
      position: relative;
      margin: 0;
      padding: 15px;
      background: $light-gray;

      .fa-search {
        top: 20px;
        left: 30px;
      }

      button {
        right: 15px;
        top: 15px;
        padding: 8px 15px;
      }
    }
  }

  @include media($mobile) {
    .cabinet-directions {
      padding: 0 15px;
      h3 {
        font-size: 36px;
        margin-bottom: 5px;
      }
    }
  }

  .back-nav {
    color: $dark-red;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 16px;

    @include media($mobile) {
      padding: 0 15px;
    }
  }

  .interactions-list {
    padding: 30px;

    .row {
      @include media($mobile) {
        margin: 0 15px;
      }

      box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    }

    ul {
      list-style: none;
      background: $white;
      border-top: 5px solid $dark-blue;
      border-bottom: 1px solid $dark-blue;

      li {
        cursor: pointer;
        padding: 15px;
        border-bottom: 1px solid $light-gray;
      }
    }
  }

  h2 {
    font-weight: bold;
    color: $dark-blue;
    margin-bottom: 30px;

    @include media($mobile) {
      font-size: 36px;

      .name {
        padding: 0 15px;
      }
    }
  }

    .interactions {
      cursor: pointer;
      border: 1px solid $dark-blue;
      border-top: 10px solid $dark-blue;
      background: $light-gray;
      color: $dark-red;
      font-size: 16px;
      padding: 15px;
      line-height: 18px;
      margin: 0 30px;

      @include media($mobile) {
        border-left: 0;
        border-right: 0;

        .col-span-11 {
          @include span-columns(11);
        }

        .col-span-1 {
          @include span-columns(1);
        }
      }

      .fa {
        text-align: right;
      }
    }

    section {
      border-bottom: 1px solid $bright-green;
      margin: 30px;
      padding-bottom: 30px;

      @include media($mobile) {
        padding-left: 15px;
        padding-right: 15px;
      }

      &:last-child {
        border-bottom: 0;
      }

      h3 {
        font-weight: bold;
        margin-bottom: 15px;
      }
    }
  }

  .shelves {
    position: relative;
    padding: 30px 0 60px;

    @include media($mobile) {
      padding-top: 0;
    }

    .shelf-wrapper {
      position: relative;
    }

    .border-overlay {
      position: absolute;
      width: 0;
      height: 0;
      right: 0;
      bottom: 0;
      border-style: solid;
      border-width: 0 0 15px 500px;
      border-color: transparent transparent rgba(237, 237, 237, .2) transparent;   
    }

    .shelf {
      @include fill-parent();
      @include row(table);
      position: relative;
      border-bottom: 30px solid $dark-gray;
      margin-bottom: 15px;

      @include media($mobile) {
        @include row();
        border: 0;
        margin: 0;
      }

      &:after {
        @extend %clearfix;
      }
      
      $shelf-height: 130px;
      
      .empty-shelf {
        position: relative;
        height: $shelf-height;
      }

      .pill-container {
        @include span-columns(4 of 12);
        position: relative;
        height: $shelf-height;
        cursor: pointer;

        @include media($mobile) {
          @include span-columns(12 of 12, block-collapse);
          border-bottom: 1px solid $light-gray;
          height: 50px;
          width: 100%;
        }

        .fa-times {
          border-radius: 4px;
          position: absolute;
          display: none;
          right: 0;
          top: 0px;
          background: $dark-red;
          color: $white;

        }

        &:hover {
          border-radius: 4px;
          @include border-bottom-radius(0px);
          background: rgba(255, 255, 255, 0.4);

          @include media($tablet-and-up) {
            .fa-times {
              display: inline-block;
              padding: 3px 5px;
              z-index: 9999;
            }
          }
        }

        .pill-wrapper {
          position: absolute;
          bottom: -30px;
          width: 100%;
          text-align: center;

          @include media($mobile) {
            position: relative;
            bottom: 0;
            text-align: left;

            &:after {
              @include clearfix;
            }
          }

          .pill-bottle {
            img {
              position: relative;
              width: 70px;
              bottom: -8px;

              @include media($mobile) {
                width: auto;
                height: 30px;
              }
            }

            @include media($mobile) {
              @include span-columns(2 of 12, block-collapse);
              text-align: center;
            }
          }

          .pill-name {
            @include ellipsis(100%);
            display: block;
            color: $white;
            line-height: 30px;
            width: 100%;
            padding: 0 15px;
            font-size: 14px !important;

            @include media($mobile) {
              @include span-columns(10 of 12, block-collapse);
              color: $dark-gray;
              line-height: 50px;
            }
          }
        }

        .pill-next {
          position: absolute;
          right: 15px;
          line-height: 50px;
          color: $bright-green;
        }

        &.active {
          border-radius: 4px;
          @include border-bottom-radius(0px);
          background: rgba(255, 255, 255, 0.9);

          .pill-name {
            background: $dark-red;
            color: $white;

            @include media($mobile) {
              background: $white;
              color: $dark-gray;
              border-bottom: 1px solid $light-gray;
            }
          }

          @include media($mobile) {
            .pill-bottle {
              line-height: 50px;
            }
          }
        }

        &.disabled {
          .pill-name {
            background: rgba(237, 237, 237, .2);
          }

          .pill-bottle {
            img {
              opacity: .2;
            }
          }
        }
      }
    }
}
