.neon {
  background-color: yellow;
}

//*-- scroll to top
.scroll-to-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: 30px;
  background-color: $bright-green;
  font-size: 24px;
  color: $white;
  border-radius: 50%;
  padding: 10px;
  opacity: .8;
}

.error-container {
  .error-message {
    color: $dark-red;  
    padding: 15px;
    background: #fafafa;
    width: 100%;
    border-radius: 4px;
    margin-top: 15px;
    border: 1px solid #ddd;
  }
}

#unselected-content {
  padding: 30px;
}

.medicine-details {
  section {
    @extend .default-padding-top;
  }
}

.cabinet {
  position: relative;
  height: 100%;


  //*-- loading icon
  .fa-refresh {
    display: none;
    color: $light-gray;
    font-size: 200px;
    position: absolute;
    left: 35%;
    top: 35%;

    @include media($tablet-and-down) {
      left: 29%;
      top: 30%;
    }
  }

  //*-- carousal
  .owl-wrapper-outer, .owl-wrapper, .owl-item {
    height: 100% !important;
  }

  .owl-pagination {
    display: none !important;
  }

  //*-- carousal wrapper
  .owl-item {
    @extend .default-padding;
    overflow-y: auto;

    &:nth-child(odd) {
      background: $light-gray;
      border-right: 1px solid darken($light-gray, 5%);

      @include media($mobile) {
        background: $white;
      }
    }

    @include media($tablet-and-down) {
      &:nth-child(3n) {
        background: $light-gray;
      }
    }
  }

  @include media($mobile) {
    .search-bar {
      position: relative;
      margin: 0;
      padding: 15px;
      background: $light-gray;

      .fa-search {
        top: 20px;
        left: 30px;
      }

      button {
        right: 15px;
        top: 15px;
        padding: 8px 15px;
      }
    }
  }

  @include media($tablet-and-down) {
    .cabinet-directions {
      padding: 0 15px;
      h3 {
        font-size: 36px;
        margin-bottom: 5px;
      }
    }
  }

  .owl-navigation-cabinet {
    color: $white;
    background: $dark-gray;
    text-align: center;

    .primary-name {
      @include ellipsis();
      font-size: 20px;
      line-height: 18px;
      display: inline;
      top: -2px;
    }

    .fa {
      margin-right: 5px;
      position: absolute;
      left: 15px;
      top: 10px;
    }
  }

  .back-nav {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 15px;
    text-align: left;

    &.hidden-desktop {
      text-align: center;
    }

    &.visible-desktop {
      background: transparent;
      color: $dark-red;
      font-size: 16px;
      padding: 5px 0;

      .fa {
        position: relative;
        margin-right: 5px;
        left: 0;
        top: 0;
      }
    }
  }

  .interactions-list {

    .row.with-shadow {
      @include media($tablet-and-down) {
        margin: 0 15px;
      }

      box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    }

    ul {
      list-style: none;
      background: $white;
      border-top: 5px solid $dark-blue;
      border-bottom: 1px solid $dark-blue;

      li {
        cursor: pointer;
        padding: 15px;
        border-bottom: 1px solid $light-gray;

        &.active {
          background: $bright-green;
          color: $white;
        }
      }
    }
  }

  h2 {
    font-weight: bold;
    color: $dark-blue;
    margin-bottom: 30px;

    @include media($tablet-and-down) {
      font-size: 36px;

      .name {
        padding: 0 15px;
      }
    }
  }

  //*-- interaction link
  .interactions {
    cursor: pointer;
    border: 1px solid $dark-blue;
    border-top: 10px solid $dark-blue;
    background: $light-gray;
    color: $dark-red;
    font-size: 16px;
    padding: 15px;
    line-height: 18px;
    margin: 15px 0;

    .fa {
      margin-right: 10px;
    }

    @include media($tablet-and-down) {
      border: 0;
      margin: 0;

      .col-span-11 {
        @include span-columns(11);
        font-size: 14px;
      }

      .col-span-1 {
        @include span-columns(1);
      }
    }

    .fa {
      text-align: right;
    }
  }

}

.shelves {
  position: relative;
  padding: 30px 0 60px;

  @include media($mobile) {
    padding: 0;
  }

  .shelf-wrapper {
    position: relative;
  }

  .border-overlay {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 15px 500px;
    border-color: transparent transparent rgba(237, 237, 237, .2) transparent;
  }

  .shelf {
    @include fill-parent();
    position: relative;
    border-bottom: 30px solid $dark-gray;
    margin-bottom: 15px;

    @include media($mobile) {
      @include row();
      border: 0;
      margin: 0;
    }

    &:after {
      @extend %clearfix;
    }

    $shelf-height: 130px;

    .empty-shelf {
      position: relative;
      height: $shelf-height;
    }

    .pill-container {
      @include span-columns(4 of 12);
      position: relative;
      height: $shelf-height;
      cursor: pointer;

      @include media($mobile) {
        @include span-columns(12 of 12, block-collapse);
        border-bottom: 1px solid $light-gray;
        height: 75px;
        width: 100%;
      }

      .fa-times {
        position: absolute;
        display: none;
        right: 5px;
        top: 5px;
        color: $dark-gray;
        font-size: 20px;
      }

      .fa-trash {
        position: relative;
        display: block;
        top: 22px;
        font-size: 24px;
        color: $dark-gray;
      }

      &:hover {
        border-radius: 4px;
        @include border-bottom-radius(0px);
        background: rgba(255, 255, 255, 0.4);

        @include media($tablet-and-up) {
          .fa-times {
            display: inline-block;
            padding: 3px 5px;
            z-index: 9999;
          }
        }
      }

      .pill-wrapper {
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;

        @include media($mobile) {
          position: relative;
          bottom: 0;
          text-align: left;

          &:after {
            @include clearfix;
          }
        }

        .pill-bottle {
          img {
            position: relative;
            width: 70px;
            bottom: -8px;

            @include media($mobile) {
              width: auto;
              height: 50px;
              bottom: -13px;
              opacity: .2;
              @include transition(all 0.3s ease-in-out);

              &.delete {
                opacity: 1;
              }
            }
          }

          @include media($mobile) {
            @include span-columns(2 of 12);
            text-align: center;
            padding-left: 25px;
          }
        }

        .pill-name {
          color: $white;
          width: 100%;
          font-size: 14px !important;

          .pill-name-text {
            @include ellipsis(100%);
            display: block;
            line-height: 30px;
          }

          @include media($tablet-and-up) {
            .pill-badge {
              position: absolute;
              padding: 2px 12px;
              font-size: 14px;
              left: 0;
              top: 0;
              color: black;
              font-weight: bold;
              background: $dark-red;
              color: $white;
              border-radius: 4px;
              @include border-left-radius(0px);

              &.black {
                background: $dark-gray;
              }

              &:not(.black):after {
                font-family: FontAwesome;
                content: "\f071";
                margin-left: 5px;
              }
            }
          }

          @include media($mobile) {
            @include span-columns(10 of 12);
            color: $dark-gray;
            line-height: 8px;
            margin-left: -5px;
            font-weight: bold;
            padding: 12px 15px;

            .pill-name-text {
              @include ellipsis(90%);
              font-size: 20px;
              margin-bottom: 5px;
              line-height: 26px;
            }

            .pill-badge {
              color: $dark-red;
              font-weight: normal !important;
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }

      .pill-next {
        position: absolute;
        right: 15px;
        line-height: 74px;
        font-size: 24px;
        color: $bright-green;

        .pill-badge {
          background: $bright-green;
          color: $white;
          border-radius: 8px;
          margin: 0 5px;
          padding: 2px 10px;
          font-size: 12px;
        }
      }

      &.active {
        border-radius: 4px;
        @include border-bottom-radius(0px);
        background: rgba(255, 255, 255, 0.9);

        .pill-name {
          background: $bright-blue;
          color: $white;

          @include media($mobile) {
            background: $white;
            color: $dark-gray;
          }
        }
      }

      &.interact {
        border-radius: 4px;
        @include border-bottom-radius(0px);
        background: rgba(255, 255, 255, 0.9);

        .pill-name {
          background: $dark-blue;
          color: $white;

          @include media($mobile) {
            background: $white;
            color: $dark-gray;
          }
        }
      }

      &.disabled {
        .pill-name {
          background: rgba(237, 237, 237, .4);

          @include media($mobile) {
            background: $white;
          }
        }

        .pill-badge {
          opacity: .5;
        }

        .pill-bottle {
          img {
            opacity: .2;
          }
        }
      }
    }
  }
}

.alternate-cabinet {

  .pill-delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: $dark-red;
    display: none;
  }

  .shelf {
    &:hover {
      background: #f5f5f5;

      .pill-delete {
        display: block;
      }
    }
  }

  .medicine-bottle {
    min-height: 80px;
    height: 1px;
  }

  .medicine-name, .medicine-tray {
    height: 100%;
  }

  .medicine-name {
    div:first-child {
      @include ellipsis(100%);
      font-size: 50px;
      font-weight: bold;
      line-height: 111px;
      color: lighten($dark-gray, 50%);
    }
  }

  .medicine-tray {
    @include transform(scaleY(-1));
    position: relative;
    filter: FlipV;
    -ms-filter: "FlipV";
    right: 0;
    bottom: 5px;


    img {
      @include filter(grayscale(100%));
      @include transform(scaleY(-1));
      filter: FlipV;
      -ms-filter: "FlipV";
      opacity: .6 !important;
      height: 30px;

      &.active {
        opacity: 1 !important;
        @include filter(grayscale(0%));
      }
    }
  }

  .clickable-pill-container {
    cursor: pointer;

    img {
      opacity: .3;
    }

    .pill-image {
      position: relative;
      bottom: -32px;
      left: 15px;
      height: 45px;
    }

    &.active {
      .medicine-name div {
        color: $dark-blue;
      }

      .shelf {
        border-color: $dark-blue;
      }

      img {
        @include media($tablet-and-up) {
          @include filter(grayscale(60%));
          opacity: .3 !important;

          &.pill-image {
            @include filter(grayscale(0%));
            opacity: 1 !important;
          }
        }
      }
    }
  }

  @include media($mobile) {

    .shelf {
      position: relative;
    }

    .medicine-bottle {
      border-bottom: 1px solid $light-gray;
      margin-top: 15px;
      min-height: 70px;
    }

    .pill-image-row {
      position: absolute;
    }

    .medicine-name {
      @include ellipsis(75%);
      position: relative;
      margin-bottom: 5px;
      line-height: 26px;
      margin-left: 70px;
      font-size: 20px;

      div:first-child {
        font-size: 20px;
        line-height: 26px;
        color: $dark-blue !important;
      }
    }

    .pill-image {
      width: auto;
      height: 50px;
      opacity: .2 !important;
      bottom: 0 !important;

      &.delete {
        opacity: 1 !important;
      }
    }

    .pill-badge {
      color: $dark-red;
      font-weight: normal !important;
      font-size: 14px;
      line-height: 18px;
    }

    .pill-next {
      position: absolute;
      right: 15px;
      line-height: 74px;
      font-size: 24px;
      color: $bright-green;
      top: -15px;
    }

  }
}


