
.registration {
  position: relative;
  background: image-url('overview-splash.png') no-repeat;
  background-size: cover;
  height: 100%;

  .call-to-action {
    position: relative;
    top: 15%;

    @include media($mobile) {
      top: 0;
      padding: 15px;
      margin-top: 15px;
    }

    h1 {
      color: $white;
      font-size: 121px;
      line-height: 110px;

      @include media($mobile) {
        font-size: 32px;
        line-height: 1em;
      }
    }

    h3 {
      color: $bright-green;
      font-weight: bold;
      font-size: 50px;

      @include media($mobile) {
        font-size: 20px;
      }
    }
  }

  .registration-container {
    position: relative;
    top: 15%;
    padding: 0 30px;

    @include media($mobile) {
      top: 0;
      padding: 0 15px;
      margin-top: 15px;
    }

    .has-account {
      text-align: right;
      font-size: 14px;
    }

    .registration-wrapper {
      background: $white;
      border: 1px solid $black;
      width: 100%;
      border-radius: 4px;
      padding: 15px 30px;

      @include media($mobile) {
        padding: 15px;
      }
    }

    .field {
      margin: 15px auto;

      @include media($mobile) {
        margin: 0;

        &:last-child {
          margin-top: 15px;
        }
      }

      input {
        width: 100%;
      }

      input[type="email"], input[type="password"] {
        background: #efefef;
        border: 1px solid $light-gray;

        @include media($mobile) {
          border-radius: 0;
          border: 1px solid $white;
        }
      }

      input[type='submit'] {
        text-align: center;
        font-weight: bold;
      }

      .link-button {
        width: 100%;
      }

      .line-behind {
        margin: 15px 0;
      }
    }

    .links {
      text-align: center;
      font-size: 14px;
      margin: 5px;
    }
  }
}