
.registration {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: $light-gray;

  .registration-container {
    position: relative;
    background: $white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    margin-top: 90px;
  }
}