<div class='overview'>
  <div class='header'>
    <div class="wrapper" id="search_wrapper">
      <h1><span class='primary-font bold'>OPEN</span><span class='primary-font light'>CABINET</span></h1>
      <div class='search-bar col-span-8 col-offset-2'>
        <input type="text" id="search_input" placeholder="Type a drug name here..." />
      <button>Search</button>
      </div>
    </div>
  </div>
</div>
