
<div class='links'>
  <div class='field'>
    <div class='line-behind'>OR</div>
    <%= link_to "Continue as Guest", cabinet_medicine_path, class: 'link-button-bright-blue', id: 'continue-as-guest-button' %>
  </div>
</div>

<%- if controller_name != 'sessions' %>
  <div class='has-account' style='margin-top: 15px;'>Have an account?&nbsp;&nbsp;<%= link_to "Sign In", new_session_path(resource_name) %></div>
<% end -%>