<div class='col-offset-2 col-span-8 about-page-wrapper'>
  
  <div class='about-page'>
    <section class='default-padding-top'>
      <h2 class='primary-font green'>About OpenCabinet</h2>
      <p>Welcome to OpenCabinet! Create a virtual medicine cabinet to help you keep up with the medicines you are taking, and become informed if any of these medicines interact with one another in potentially harmful ways. Our goal is to give you the information you need to make informed decisions about what medications you and your family take.</p>
    </section>

    <section class='default-padding-top'>
      <h2 class='primary-font green'>FAQ</h2>
      <div class='question'>
        <h3>Where does OpenCabinet get its data?</h3>
        <p> OpenCabinet uses an open-source Application Program Interface (API) from openFDA to retrieve public FDA drug information. OpenFDA provides sites like OpenCabinet with easy access to public data in a way that ensures the privacy and security of public FDA data.</p>
      </div>
      <div class='question'>
        <h3>How often is this data updated?</h3>
        <p> OpenCabinet uses the openFDA product labeling API, which returns data from the FDA Structured Product Labeling (SPL) dataset. This dataset is updated monthly.</p>
      </div>

      <div class='question'>
        <h3>Is sensitive information being collected about me?</h3>
        <p>OpenCabinet uses email address and password to set up user accounts. OpenCabinet will then remember all the medicines you’ve added to your cabinet over time. This information isn’t being sold or sent to any other sites. You can continue as a guest if you do not want to create an account, and no information will be saved past your current session.</p>
      </div>

      <div class='question'>
        <h3>What are the benefits of creating an account?</h3>
        <p>Create an account to save the medicines in your cabinet so they are there for you the next time you log in. You just need a username and password, we won’t collect any other personal information.</p>
      </div>
      
    </section>

  </div>
</div>
