<div class='cabinet' data-module='navigation'>
  <!-- medicine cabinet view -->
  <div class='item' id='medicine_cabinet'>
    <%= render :template => 'medicine/shared/_medicine_cabinet' -%>
  </div>

  <!-- interaction tiles -->
  <%= render :template => 'medicine/shared/_medicine_information' -%>
</div>



