<div class='cabinet'>
  <div class="left-column o-wrapper">

    <div class="search-bar">
      <i class="fa fa-search"></i>
      <input type="text" id="search_input" placeholder="Type a drug name here..." />
    </div>
    <div class='shelves' data-module='cabinet'>
      <%= render :template => 'medicine/shelves' -%>
    </div>
  </div>
  <div class='right-column c-menu c-menu--push-right'>
    <div class='row'>
      <div class='col-span-10' id='interactions'>
        <h1 class='primary-font green'>ADD YOUR DRUGS TO YOUR MEDICINE CABINET.</h1>
        <p>Then compare your drugs to make sure there are no known interactions between them.</p>
      </div>
    </div>
  </div>
</div>
