<div class='cabinet' data-module='navigation'>
  
  <div class='item'>
    <%= render :template => 'medicine/shared/_medicine_cabinet' -%>
  </div>

  <div id='medicine_information' class='item' data-module="information">
    <i class="fa fa-refresh fa-spin"></i>
    <div class='content'>
      <%= render :template => 'medicine/shared/_medicine_information' -%>
    </div>
  </div>

  <div class='item interactions-list' data-module="interactions-list">
    <%= render :template => 'medicine/shared/_interaction_pairs' -%>
  </div>

  <div class='item' data-module="interactions-info">
    <%= render :template => 'medicine/shared/_interactions_info' -%>
  </div>
</div>


