<div class="overview">
  <div class="search-area">
    <div class="wrapper">
      <div class="col-span-8 col-offset-2">
        <h1><span class="primary-font bold">OPEN</span><span class="primary-font light">CABINET</span></h1>
      </div>

      <div class="search-bar col-span-8 col-offset-2">
        <input type="text" id="search_input" placeholder="Type a drug name here..." />
      <button data-type="search-medicine">Search</button>
    </div>
  </div>
  <div class="search-results" data-module="search_results_component">
    <div class="medicine-item" style="display:none;">
      <div class="medicine-item-info">
        <h3 class="medicine-brand-name"></h3>
      </div>
      <a href class="add-to-cabinet link-button" data-type="add-medicine" data-set-id="" data-active-ingredient="">Add</a>
    </div>
    <div class="results-list">
    </div>
  </div>
</div>
