<div class='overview'>
  <div class='overview-wrapper'>
    <h1>KNOW YOUR MEDS</h1>
    <h2 class='primary-font green'>CHECK FOR DRUG INTERACTIONS</h2>

    <div class="search-bar col-span-6 col-offset-3">
      <i class="fa fa-search"></i>
      <input type="text" id="search_input" placeholder="Type a drug name here..." />
    </div>

  </div>
</div>