<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  

  <div class="field">
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.submit "Reset Password", class: 'button-bright-green' %>
  </div>
<% end %>
