* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  @extend .primary-font;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;

  @include media($mobile) {
    height: auto;
    min-height: 100%;
  }
}

body {
  overflow: hidden;
  webkit-overflow-scrolling: touch;

  @include media($mobile) {
    overflow: auto;
  }
}

.cursor-none {
  cursor: text !important;
}

.default-padding {
  padding: 30px;

  @include media($mobile) {
    padding: 15px 0;
  }

  @include media($tablet) {
    padding: 15px;
  }
}

.default-padding-top {
  padding-top: 30px;

  @include media($tablet-and-down) {
    padding-top: 15px;
  }
}

section {
  position: relative;
  border-bottom: 1px solid $bright-green;
  padding-bottom: 30px;

  @include media($tablet-and-down) {
    margin: 15px;
  }

  &:last-child {
    border-bottom: 0;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.t-right {
  text-align: right;
}