
html, body {
  -webkit-font-smoothing: antialiased;
  background-repeat: repeat;
  height: 100%;
  font-family: $primary_font;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: $dark-gray;

  @include media($tablet-and-down) {
    font-size: 16px;
  }
}

body {
  overflow: hidden;
}

.blue-text {
  color: $dark-blue !important;
}

.cursor-none {
  cursor: default !important;
}

.default-padding {
  padding: 30px;

  @include media($mobile) {
    padding: 15px 0;
  }

  @include media($tablet) {
    padding: 15px;
  }
}

.default-padding-top {
  padding-top: 30px;

  @include media($tablet-and-down) {
    padding-top: 15px;
  }
}

section {
  position: relative;
  border-bottom: 1px solid $bright-green;
  padding-bottom: 30px;

  @include media($tablet-and-down) {
    margin: 15px;
  }

  &:last-child {
    border-bottom: 0;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &.interaction-pair-mobile {
    margin: 15px;
    background: white;
    padding: 30px;
  }
}

.bold {
  font-weight: bold;
}

.t-right {
  text-align: right;
}