
html, body {
  -webkit-font-smoothing: antialiased;
  background-repeat: repeat;
  height: 100%;
  font-family: $primary_font;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: $dark-gray;

  @include media($mobile) {
    font-size: 16px;
  }
}

body {
  overflow: hidden;
}

.t-right {
  text-align: right;
}