//*--
//*-- typography
//*--

.primary-font {
  font-family: $primary_font;
  font-size: 1em;
}

.primary-font.light {
  @extend .primary-font; 
  font-weight: lighter;
}

.primary-font.bold {
  @extend .primary-font;
  font-weight: bold;
}

//*-- paragraphs
p {
}

//*-- links
a {
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }
}

//*-- headers
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

h1, h2, .h1, .h2 {
}

h3, h4, .h3, .h4 {
}

h5, h6, .h5, .h6 {
}

h1, .h1 {
  font-size: 48px;
  line-height: 1.3em;
}

h2, .h2 {
  font-size: 32px;
  line-height: 1.3em;
}

h3, .h3 {
  font-size: 24px;
  line-height: 1.2em;
}

@include media($mobile) {

  h1, .h1 {
    font-size: 32px;
    line-height: 1.3em;
  }

  h2, .h2 {
    font-size: 24px;
    line-height: 1.2em;
  }

  h3, .h3 {
    line-height: 26px;
  }
}

h4, .h4 {
  font-size: 21px;
}

h5, .h5, h6, .h6 {
  font-size: 16px;
}

