<ul>
  <li><%= link_to('home', root_path, class: ("active" if current_page?(root_path))) %></li>
  <li class='visible-desktop'>|</li>
  <li><%= link_to('cabinet', cabinet_path, class: ("active" if current_page?(cabinet_path))) %></li>
  <li class='visible-desktop'>|</li>
  <li><%= link_to('about', about_path, class: ("active" if current_page?(about_path))) %></li>
  <li class='visible-desktop'>|</li>
  <li><iframe class='github-star' src="https://ghbtns.com/github-btn.html?user=excellaco&repo=open-cabinet&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe></li>
  <li class='visible-desktop'>|</li>
  <li><%= render :partial => 'shared/authentication', :locals => { mobile: mobile } %></li>
</ul>
