  <div class='nav row'>
    <div class='col-span-5 logo'>
      <%= image_tag('logo.png') %><a href='/'><span class='bold'>PEN</span><span class='green-text bold'>CABINET</span></a>
    </div>

    <div class='col-span-7 t-right links'>
      <div class='visible-desktop'>
        <%= render :template => 'shared/_header_links', :locals => { mobile: false } -%>
      </div>

      <div class='mobile-menu hidden-desktop'>
        <button class='x lines-button' title='open all sections'><span class='lines'></span></button>
      </div>

      <div class='mobile-side-menu'>
        <%= render :template => 'shared/_header_links', :locals => { mobile: true }  -%>
      </div>

    </div>
  </div>
