//*--
//*-- header
//*-- 

.nav {
  background: $dark-gray;
  color: $white;
  padding: 15px 60px;

  @include media($mobile) {
    padding: 7px 15px 2px;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  .logo {
    font-size: 32px;

    @include media($mobile) {
      font-size: 18px;
    }

    img {
      width: 50px;
      margin-right: 2px;

      @include media($mobile) {
        width: 30px;
      }
    }
  }

  .links {
    line-height: 50px;

    a {
      position: relative;
      color: $bright-green;
      text-decoration: none;
      padding-bottom: 5px;
      margin: 0 10px;

      &.active {
        color: $bright-green !important;
        font-weight: bold;
        padding-bottom: 3px;
        border-bottom: 2px solid $bright-green;
      }

      &:before {
        @include transition(all 0.3s ease-in-out);
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
      }

      &:not(.active):hover {
        color: $white;

        &:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }

      &:visited {
        color: $white;
      }
    }

    .mobile-menu {
      position: absolute;
      top: -10px;
      right: 15px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;  

      li {
        display: inline;
      }
    }
  }
}

.mobile-side-menu {
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: $dark-gray;
  right: -240px;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  text-align: left;
  padding: 15px;

  &.open {
    right: 0px;
  }
}

.mobile-menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.mobile-menu-push-to-left {
  left: -240px;
}

.mobile-side-menu.open,
.mobile-menu-push {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}