//*--
//*-- color palatte
//*--

//*--
//*-- universal colors
//*--
$white:         #ffffff;
$black:         #000000;

$light-gray:    #ececec;
$dark-gray:     #414652;

$bright-green:  #70c57e;
$bright-blue:   #12a3d2;

$dark-red:      #bd001a;
$dark-blue:     #005573;