//*--
//*-- color palatte
//*--

//*--
//*-- universal colors
//*--
//*-- (255,255,255)
$white: #ffffff;
//*-- (0,0,0)
$black: #000000;

$light-gray: #ecf0f1;
$dark-gray: #7f8c8d;

$light-blue: #2980b9;
$dark-blue: #34495e;

$gold: #f39c12;