//*--
//*-- buttons
//*--

//*-- base button
button, .base-button {
  @include border-radius(4px);
  @extend .primary-font;
  padding: 10px 15px;
  border: 0;
  color: $white;
  background: $gold;
  border: 1px solid $gold;
  cursor: pointer;
}

.link-button {
  @extend .base-button;
  background: $dark-blue;
  display: inline-block;
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
