.main-content {
  height: calc(100% - 100px);
  overflow: auto;

  &:after {
    @extend %clearfix;
  }

  @include media($tablet-and-down) {
    height: calc(100% - 80px);
    margin-top: -1px;
  }
}