//*--
//*-- hamburger menu to x animation
//*--
$button-size : 24px;
$transition: .3s;

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $bright-green;
  // border-radius: $button-size/14;
  transition: $transition;
}

.lines-button {
  display: inline-block;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: 0;
  outline: 0;
  box-shadow: none !important;

  &:hover, &:focus {
    opacity: 1;
    background: $dark-gray;
  }

  &:active {
    transition: 0;
    background: $dark-gray;
  }
}

.lines {
  //create middle line
  @include line;
  position: relative;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {

   @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: $button-size/14 center;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

.lines-button.x.active .lines{
  /*hide the middle line*/
  background: transparent;

  /*overlay the lines by setting both their top values to 0*/
  &:before, &:after{
    transform-origin: 50% 50%;
    top:0;
    width: $button-size;
    background: $bright-green;
  }

  // rotate the lines to form the x shape
  &:before{
    transform: rotate3d(0,0,1,45deg);
  }
  &:after{
    transform: rotate3d(0,0,1,-45deg);
  }
}
