//*--
//*-- search bar
//*--

.search-bar {
  position: relative;

  .fa {
    position: absolute;
    left: 10px;
    top: 7px;
    color: $dark-gray;
    font-size: 24px;
    z-index: 101;
  }

  input {
    width: 100%;
    border-radius: 0;
    padding-left: 50px;
  }

  .twitter-typeahead {
    width: 100%;
  }

  button {
    @include border-left-radius(0);
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .tt-menu {
    width: 100%;
    background: $white;
    color: $dark-gray;

    .tt-suggestion {
      padding: 5px 15px;
      border-bottom: 1px solid $light-gray;
      cursor: pointer;
    }

    .tt-highlight {
      font-weight: bold;
    }
  }
}