//*--
//*-- search bar
//*--

.search-bar {
  position: relative;

  .fa {
    position: relative;
    font-size: 24px;
    z-index: 101;
  }

  .fa-search {
    left: 15px;
    top: 34px;
  }

  input {
    width: 100%;
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 45px;
    border: 1px solid #ddd;
  }

  .twitter-typeahead {
    width: 100%;
  }

  button {
    @include border-left-radius(0);
    position: absolute;
    right: 0;
    top: 27px;
    padding: 9px 20px;
    box-shadow: none !important;
  }

  .tt-menu {
    width: 100%;
    background: $white;
    color: $dark-gray;

    .tt-suggestion {
      padding: 5px 15px;
      border-bottom: 1px solid $light-gray;
      cursor: pointer;
    }

    .tt-highlight {
      font-weight: bold;
    }
  }
}