
<% content_for :content do %>

  <div class='registration'>

    <div class='col-offset-4 col-span-4 registration-container'>
      <div class='registration-wrapper'>
        <%= yield %>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>

<% end %>

<%= render template: "layouts/application" %>