
<% content_for :content do %>

  <div class='registration'>

    <div class='col-span-6 call-to-action'>
      <div class='call-to-action-wrapper'>
        <h1>KNOW YOUR MEDICINE</h1>
        <h3>CHECK ALL YOUR DRUG INTERACTIONS</h3>
      </div>
    </div>

    <div class='col-span-6 registration-container'>
      <div class='registration-wrapper'>
        <%= yield %>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>

<% end %>

<%= render template: "layouts/application" %>